<div id="header" class="container_12">
	<h1 class="grid_9 push_3">Artigos deste Blog</h1>
</div>
<div style="clear:both">
	
<div id="content" class="container_12">

<%= render :partial => "menu" %>

	<div id="" class="grid_9 conteudo">
		<% @posts.each do |post| %>

		<h3><%= link_to post.title, post %></h3>

		<p><%=h post.content %></p>

		<p><%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Delete', post, :confirm => 'Are you sure?', :method => :delete %>
			<% end %>
		</p>
	</div>

</div>

<div id="footer" class="container_12"></div>

<div style="clear:both">